/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom CSS */
body {
  background: #eee;
  padding: 100px;
}
.wrap {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 100px;
  background: white;
  padding-bottom: 100px;
  box-shadow: 0px 40px 60px -20px rgba(0,0,0,0.2);
}
h1 {
  padding: 50px;
}
.spinner {
  width: 100px;
  height: 100px;
  background: transparent;
  border-radius: 50%;
  position: relative;
  margin: 50px;
  display: inline-block;
  &:after, &:before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

.spinner-1:after {
  position: absolute;
  width: 110px;
  height: 110px;
  top:-12px;
  left:-12px;
  border: 6px solid transparent;
  border-top-color: red;
  border-bottom-color: red;
  animation: spin 1.5s ease-in-out infinite;

}

.spinner-1:before {
  position: absolute;
  top:-2px;
  left:-2px;
  border: 2px solid transparent;
  border-top-color: red;
  border-bottom-color: red;
  animation: spinReverse 1.5s ease-in-out infinite;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg) scale(1.2);

  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinReverse {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}


.spinner-2:after {
  position: absolute;
  width: 110px;
  height: 110px;
  top:-11px;
  left:-11px;
  border: 6px solid transparent;
  border-top-color: red;
  border-bottom-color: red;
  animation: spin2 1.5s ease-in-out infinite;
}

.spinner-2:before {
  position: absolute;
  top:-2px;
  left:-2px;
  border: 2px solid transparent;
  border-top-color: red;
  border-bottom-color: red;
  animation: spinReverse 1.5s ease-in-out infinite;
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg) ;

  }
  100% {
    transform: rotate(360deg);
  }
}




.spinner-3:after {
  position: absolute;
  width: 110px;
  height: 110px;
  top:-11px;
  left:-11px;
  border: 6px solid transparent;
  border-top-color: red;
  border-bottom-color: red;
  animation: spin3 1.5s linear infinite;
}

.spinner-3:before {
  position: absolute;
  top:-2px;
  left:-2px;
  border: 2px solid transparent;
  border-top-color: red;
  border-bottom-color: red;
  animation: spinReverse 1.5s linear infinite;
}

@keyframes spin3 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.spinner-4:after {
  position: absolute;
  width: 100px;
  height: 100px;
  top:-4px;
  left:-4px;
  border: 4px solid transparent;
  border-top-color: red;
  border-bottom-color: red;
  animation: spin 1.5s ease-in-out infinite;

}

.spinner-4:before {
  position: absolute;
  top:0px;
  left:0px;
  background-color: red;
  animation: scale 1.5s ease-in-out infinite;
}



.spinner-5 {
  &::after {
    position: absolute;
    width: 100px;
    height: 100px;
    top:0px;
    left:0px;
    background-color: red;
    animation: scale 1.5s ease-in-out infinite;
  }
}

.spinner-5:before {
  position: absolute;
  top:-4px;
  left:-4px;
  border: 4px solid transparent;
  border-top-color: red;
  border-bottom-color: red;
  animation: spinReverse 1.5s ease-in-out infinite;
}

@keyframes scale {
  0% {
    transform: scale(0.2);
    opacity: 0.5;
  }
  50% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(0.2);
    opacity: 0.5;
  }
}



.spinner-6 {
  &::after {
    position: absolute;
    width: 100px;
    height: 100px;
    top:0px;
    left:0px;
    background-color: red;
    animation: scale 1.5s linear infinite;
  }
}

.spinner-6:before {
  position: absolute;
  top:-4px;
  left:-4px;
  border: 4px solid transparent;
  border-top-color: red;
  border-bottom-color: red;
  animation: spinReverse 1.5s linear infinite;
}

@keyframes scale {
  0% {
    transform: scale(0.2);
    opacity: 0.5;
  }
  50% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(0.2);
    opacity: 0.5;
  }
}
